@import 'nib'

seventh = 14.2857143%
key_height = 50%

wet_asphalt = #2c3e50
midnight_blue = #34495e

bounce_duration = 0.2s

html, body
  height: 100%

*
  box-sizing(border-box)
  -webkit-touch-callout: none
  user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.clearfix:before, .clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

.left
  float left

.right
  float right

body
  font-family Helvetica, sans-serif
  margin 0

.buttons
  height: 100%
  width: 100%

.active
  height: 75% !important

.column
  height: 100%
  width: seventh
  float: left
  position: relative
  background: wet_asphalt

.column:nth-child(even)
  background: midnight_blue

.button
  width: 100%
  height: key_height
  position: absolute
  bottom: 0
  left: 0
  transition: all 0.2s ease
  cursor: pointer
